* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/aldea1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70px;
  height: 100%;
  position: absolute;
  left: 10px;
}

#contenedorNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 210px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(64, 62, 62, 0.5);
  transition: 0.5s;
}

#contenedorNav:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#contenedorNav a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorNav a img {
  width: 35px;
  border-radius: 50%;
  transition: 0.5s;
}

#contenedorNav a img:hover {
  transform: scale(1.2);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
}

.slider-wrapper {
  height: 70%;
  width: 75%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 .25rem 35rem #21212126;
  border-radius: .5rem;

}

.slider .box {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

#boxInicio {
  background-color: rgba(115, 112, 112, 0.683);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}



#boxContacto {
  background-color: blue;
}

.contenedorThornSteel {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.vikingo {
  width: 200px;
  height: 200px;
}

.posicionInputs {

  opacity: 0;
  transition: .5s;
}

.contenedorTexto {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}
.posicionInputs .contenedorTexto input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.posicionInputs button {
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: skyblue;
  padding: 5px 10px;
  font-size: 14px;
}

.globo {
  border-radius: 25px;
  padding: 12px;
  background: white;
  color: black;
  padding: 10px;
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-family: sans-serif;
  z-index: 1;
}
.globo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 80px;
  background: transparent;
  width: 0px;
  height: 0px;
  border-bottom: 40px solid white;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  transform: rotate(30deg);
  z-index: -1;
 
}

.globo p {
  font-size: 14px;
  margin-bottom: 0;
}

#boton{
  transform: rotate(90deg);
  
}

.contenedorBoton{
  display: flex;
  justify-content: end;
}
/* extension */
html.sr .widget {
  visibility: hidden;
}

.contenedorHojaDatos {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.cajaDatos {
  width: 40%;
}

.contenedorDatosMartin {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
}

.contenedorDatosMartin .contenedorFotoMartin{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

.contenedorDatosMartin .contenedorFotoMartin .fotoMartin {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.contenedorDatosMartin ul{
  font-family: 'Nordic Chance', sans-serif;
 list-style: none;
 height: 80px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.contenedorDatosMartin ul li{
 width: 100%;
 text-align: center;
}

.contenedorImagenSeparador {
  display: flex;
  width: 20%;
  justify-content: center;
}

.contenedorResumen {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contenedorResumen .contenedorTituloParrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorResumen .contenedorTituloParrafo .tituloResumen {
  margin: 30px ;
  font-size: 16px ;
}
.contenedorResumen .contenedorTituloParrafo .parrafoResumen {
  margin: 0px 30px 30px 30px;
 font-size: 10px;
}
.tituloTecnologias {
  text-align: center;
  font-size: 16px;
}

.contenedorTecnologias {
  display: flex;
  padding: 5px;
  margin: 5px;
  gap: 6px;
}

.contenedorTarjetaTecnologias {
  display: flex;
  width: 40px;
  height: 60px;
  border: 1px solid goldenrod;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  margin-bottom: 5px;
}

.contenedorTarjetaTecnologias:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 5px rgba(155, 60, 8, 0.5);
}

.contenedorImgTecnologias {
  height: 60px;
  display: flex;
  flex-direction: column;
}

.contenedorImgTecnologias img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.contenedorDescripcion {
  text-align: center;
  margin-top: 5px;
  font-size: 8px;
}
